@charset "UTF-8";
/* Stijlen boek Milena */
html{
    height: 100%;
    width: 100%;
    background-color: lightgray;
    overflow: auto;
}

#contact .card:hover i,#contact .card:hover h4{
	color: #87d37c;
}

body{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    overflow: inherit;
    background-color: #fff;
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    color: #000;
    font-size: 16px;
    font-weight: normal;
}


nav ul li a{
    font-size: 14px;
    color: white !important;
}

nav ul li a:hover, 
nav ul li a:focus
{
    color: #58C3B9 !important;
    text-decoration: underline !important;
    text-decoration-color: #98D4C0;
        
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   background-color: grey;
   text-align: center;
}

.row{
    margin-top: 75px !important;
}

.title{
    color: #58C3B9;
}

.title:hover, 
.title:focus
{
    color: #98D4C0 !important;
    text-decoration: underline !important;
    text-decoration-color: #98D4C0;
}

.card-text{
   color: gray;
}
.Naam{
    color: #58C3B9;
    font-size: 70px;
    background-image: url(jimmy-musto-iOWEyl7sEgY-unsplash.jpg);
    height: 400px;
}

h1 {
    padding-top: 15%;
}

.col-lg-16{
margin-top: -100px;
}